.htaccess
.htaccess.txt
index.php
php.ini
/config.php

/image/
/storage/
/system/
/catalog/
/admin/

# Don't ignore Moloni files 
!/admin/controller/extension/module/moloni.php
!/admin/model/extension/module/moloni/*
!/admin/language/en-gb/extension/module/moloni.php