{% for error in error_warnings%}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error.title }} - {{ error.message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endfor %}