/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13/dez/2017, 1:48:40
    Author     : nuno_
*/
.moloni-debug-holder{
    padding-bottom: 20px;
}
.moloni-debug-window{

}

.moloni-debug-window .log-holder{
    padding: 10px 5px;
    border: solid 1px #c5c5c5;
    border-radius: 4px;
}

pre{
    display: block;
    /* padding: 8.5px; */
    margin: 0 0 9px;
    font-size: 12px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    background-color: white;
    border-radius: 6px;
    border: solid 4px #ffffff;
}




/************* *************/
.logo-img{
    max-width: 100%;
}

.moloni-tile-wrapper{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 320px;
}

.moloni-tile{
    height: 260px;
    background-color: #ffffff;
    border: solid 2px #dddddd;
    border-radius: 10px;
}

.moloni-tile .login-button{
    /*background-color: #55A8F2;*/
    background-color: #2E3A47;
    position: absolute;
    padding: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 290px;
    height: 46px;
    padding: 13px;
}

.moloni-tile .login-body{
    align-content: center;
    text-align: center;
    padding-top: 25px;
}

.moloni-tile .login-image{
    max-height: 100px;
    max-width: 230px;
}

.moloni-tile .login-title{
    color: #2E3A47;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.moloni-tile .login-details{
    font-size: 12px;
    color: darkgrey;
    margin-top: 2px;
}


#moloni_orders_filter input,
#moloni_orders_length select{
    height: 36px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#moloni_orders_filter input{
    width: 280px;
}